
body, input, textarea{
	background-color: #fdfbf7;
	color: #9a546f;
	
}
/***** first nav bar****/
.box1{
	border: 1px solid black;
	background-color: black;
	height: 35px;
	
}
ul{
	float: left;
	color: white;
}
ul li{
	margin-top: -10px;
	float: left;
	position: relative;
	left: 500%;
	width: 100px;
	font-size: 14px;
	list-style-type: none;
	padding: 3px;
}
ul li a{
	text-decoration: none;
	color: white;
}
h4{
	margin-top: 1px;
	color:white;
	margin: 7px 12px;
	left: -10%;
	position: relative;
	font-size: 14px;
}
/***** second nav bar****/
.subbox{
	border: 1px solid transparent;
	background-color: whitesmoke;
	height: 47px;
}
 .subbox li a:hover {
    color: rgb(37, 37, 22);
}
ol{
	float: left;
}
ol li{
	float: left;
	width: 250px;
	left: 25%;
	list-style-type: none;
	font-size: 30px;
}
ol li a{
	text-decoration: none;
	color: #ab7186;
}
ol li a:hover{
	background: #fdfbf8;
}

.fa-search{
	position:absolute;
	left: 90%;
	top: 11%;
	margin-top: 5px;
    cursor: pointer;
}
.fa-shopping-bag{
	position:absolute;
	left: 92%;
	top: 11%;
	margin-top: 5px;
    cursor: pointer;
	
}
.num{
    position:absolute;
	left: 93%;
	top: 9%;
	margin-top: 5px;
    font-size: 15px; 
}
.logo{
	position: relative;
	left: 1%;
	top: -50px;
		
}
font{
	color: black;
}
/*home page*/
.cover1{
background-size: cover;
position: relative;
height: 530px;
width: 100%;
bottom: 0;
}
.heading{
position: relative;
font-size: 28px;
text-transform: capitalize;
top: -350px;
color: #704241;
}

/* product page*/

.grid h1{
    font-size: 39px;
    text-align: center;
    padding-top: 70px;
    /*padding-block-end: 50px;*/
}
.grid-box{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-gap: 200px;
    padding: 10px;
    width: 90%;
    margin: auto;
    text-align: center;
}
.grid-box > div {
    text-align: center;
    font-size: 20px;
}

.grid-box img{
    width: 100%;
    height: 300px;
}
.btn1{
    width: 100%;
    background-color:#fdfbf8;
    font-size: 17px;
    border: 1.5px solid #7f2549;
    cursor: pointer;
}
.btn1:hover{
    background: #7f2549;
    
}


/*******About page*******/
.cover2{
	opacity: 0.8;
    margin-top: 80px ;
    
    
}
.head2{
	font-family: barlow condesned, sans-serif;
	text-align: center;
	top: -395px;
	right: -210px;
	position: relative;
}
.container1{
	width:650px;
	/* it sets auto magin on all sides, set it the same*/
	margin:auto;
	position: absolute;
	left: 45%;
	top:35%;
	background-color: white;
	font-family: barlow condesned, sans-serif;
	
}
.para{
	 
	 padding: 10px;
	 margin: 5px;
	 font-weight:600;
	 
} 
.container2{
	width:650px;
	/* it sets auto magin on all sides, set it the same*/
	margin:auto;
	position: absolute;
	left: 45%;
	top:64%;
	background-color: white;
	font-family: barlow condesned, sans-serif;
}

/***** Contactpage******/

.Container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 32px;
    background-color: white;
    overflow: hidden;
   display: flex;
   align-items: center;
   justify-content: center;
   
}
 .form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
     width: 100%;
     max-width: 820px;
     border-radius: 5px;
     background-color: #fdfbf8;
     box-shadow: 0 0 20px whitesmoke;
     
     z-index: 1000;
     overflow: hidden;
   
 }
 /********contact form*****/
 .contact-form{
     background-color: #fdf6f0;
     position: relative;
 }

form{
    padding: 33px 32px;
    z-index: 10;
    overflow: hidden;
    position: relative;
}
.title{
    
    font-weight: 500px;
    font-size: 27px;
    line-height: 1;
    top: 25px;
}
.input-container{
    position: relative;
    margin: 25px 0;
    
}

.input{
    width: 80%;
    outline: none;
    border: 2px solid ;
    background: none;
    padding: 10px 25px;
    color: black;
   letter-spacing: 0.5px;
   font-weight: 500;
   border-radius: 25px;
   transition: 0.3s;

}
textarea.input{
    padding: 25px  25px;
    min-height: 100px;
    border-radius: 22px;
    resize: none;
    /*overflow-y: auto;*/
}
.input-container label{
    position: absolute;
    top: 50%;
    left: 15px;
   transform: translateY(-50%);
   padding: 0 6px;
    color: #d09d85;
    font-size: 20px;
    font-weight: 400 ;
    z-index: 1000;
    transition: 0.5s;
}
.input-container.textarea label{
    top: 15px;
    /*transform: translateY(0);*/
}
.btn{
    padding: 7px 9px;
    border-radius: 20px;
	margin-top: 10px;
    background: linear-gradient(135deg, transparent 20%,#d09d85);
    cursor: pointer;
}
label{ 
    display: none;
   }
.input-container section{
    position: absolute;
    top: 0;
    left: 25px;
    background-color:  #fdf6f0;
    transform: translateY(-50%);
    font-size: 15px;
    padding: 0 9px;
    pointer-events: none;
    z-index: 500;
 
}
/****** Social media side********/
 .contact-info{
    background-color: #fdfbf8;
    position: relative;
    padding: 5px;
 }
.icon{
    width:35px;
    height: 35px;  
    margin-right: 10px;
} 
.information{
    display: flex;
    margin: 4px;
    align-items: center;
}
.para2{
    font-size: 20px;
    
}
.para3{
 font-size: 30px;
 margin: 40px 20px 0 20px;
}
.social-icons {
	margin-top: 45px;
    display: flex;
}
.social-icons a{
	margin: 0 15px;
    width: 45px;
    line-height: 45px;
    font-size: 30px;
    border-radius: 50%;
    background: linear-gradient(45deg,#ffe4e1,#e5ccc9);
    text-align: center;
    color: #7f2549;

}
.social-icons a:hover{
    transform: translate(-7px, 0)
}

.circle-three{
     position:absolute;
     width: 118px;
     height: 100px;
     border: 22px solid #7f2549;
     border-radius: 50%;
     bottom: -50px;
     right: 200px;
     opacity: 0.4;
}
 .big-circle{
     position: absolute;
     width: 500px;
     height: 500px;
     border-radius: 50%;
     background: linear-gradient(to bottom,#fdf6f0, #7f2549 );
     bottom: 50%;
     right: 50%;
     transform: translate(-40%,38%);
 }
 .big-circle:after{
     content:"";
     position: absolute;
     width: 360px;
     height: 360px;
     background-color: whitesmoke;
     border-radius: 50%;
     top: calc(50% - 180px);
     left: calc(50% - 180px);
 }
 .circle{
    border-radius: 50%;
    background: linear-gradient(135deg, transparent 20%,#d09d85);
    position: absolute;
}
.circle.one{
    width: 130px;
    height: 130px;
    top: 130px;
    right: -40px;
}
.circle.two{
    width: 80px;
    height: 80px;
    top: 10px;
    right: 30px;
}