body{
	font-family: 'Cinzel', serif;
	font-family: 'Merienda', cursive;
	background-color: #fdfbf7;
	color: #9a546f;
	
}
.box1{
	border: 1px solid black;
	background-color: black;
	height: 35px;
	
}
ul{
	float: left;
	color: white;
}
ul li{
	margin-top: -10px;
	float: left;
	position: relative;
	left: 500%;
	width: 100px;
	font-size: 14px;
	
	list-style-type: none;
	padding: 3px;
}
ul li a{
	text-decoration: none;
	color: white;
}
h4{
	margin-top: 1px;
	color:white;
	margin: 7px 12px;
	left: -10%;
	position: relative;
	font-size: 14px;
}
.subbox{
	border: 1px solid transparent;
	background-color: whitesmoke;
	height: 50px;
}
ol{
	float: left;
}
ol li{
	float: left;
	width: 250px;
	left: 25%;
	list-style-type: none;
	font-size: 30px;
}
ol li a{
	text-decoration: none;
	color: #ab7186;
}
ol li a:hover{
	background: #fdf6f0;
}
.fa-search{
	position:absolute;
	left: 90%;
	top: 11%;
	margin-top: 5px;
}
.fa-shopping-bag{
	position:absolute;
	left: 92%;
	top: 11%;
	margin-top: 5px;
	
}
.logo{
	position: relative;
	left: -42%;
	top: -50px;
	font-family: barlow condesned, sans-serif;
	
}
font{
	color: black;
}
.cover1 img{
background-size: cover;
height: 530px;
width: 1328px;

}

.container{
	display: block;
	height: 100px;
	flex-wrap: wrap;
	align-content: center;
	
}
.container a { 
	flex: 1 1 50%;
	text-decoration: none;
	font-size: 40px;
	padding: 5px;
	margin: 30px;
	
}
.wrapper{
	display: flex;
	flex-direction: column;
	
}

*{
	box-sizing: flex;
}

.row{
	display: flex;
}
.column{
	flex: 33.3333%;
	padding:1px;
	align-content: center;

}
h2{
	text-align:center;
	
}
img{
	vertical-align: bottom;
}
figcaption{
	padding:1px;
	margin:5px;
}
/*About page*/
.cover2{
	opacity: 0.8;
}
.head2{
	font-family: barlow condesned, sans-serif;
	text-align: center;
	top: -370px;
	right: -210px;
	position: relative;
}
.container1{
	width:650px;
	/* it sets auto magin on all sides, set it the same*/
	margin:auto;
	position: absolute;
	left: 45%;
	top:35%;
	background-color: white;
	font-family: barlow condesned, sans-serif;
	
}
.para{
	 
	 padding: 10px;
	 margin: 5px;
	 font-weight:600;
	 
} 
.container2{
	width:650px;
	/* it sets auto magin on all sides, set it the same*/
	margin:auto;
	position: absolute;
	left: 45%;
	top:64%;
	background-color: white;
	font-family: barlow condesned, sans-serif;
}


.center{
	text-align: ceneter
	font-size: 50px;
}
/* Contactpage*/
.contact-box{
	
	width: 500px;
	box-shadow: 0 0 20px 0 #999;
	top: 60%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	background-color: whitesmoke;
}

form{
	margin: 35px;
}

.input-field{
	width: 400px;
	height:40px;
	margin-top: 20px 10px;
	padding-right: 10px;
	border: 3px solid #777;
	border-radius: 14px;
	outline: none;
}
.textarea-field{
	height: 150px;
	padding-top: 10px;
}
.btn{
	border-radius: 20px;
	margin-top: 10px;
	sensor: pointer;
}
.head{
	text-align :center;
	font-family: barlow condesned, sans-serif;
	font-weight: normal;
}

.social ul{
	padding: 0;
	margin: 0;
	left: -1000px;
}

.social ul li {
	list-style: none;
	margin: 0 15px;

}
.social ul li .fa {
	font-size: 30px;
	line-height: 60px;
	transform: .6s;
	color: #000;
}

.social ul li a {
	position: absolute;
	display: block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: whitesmoke;
	text-align:center;
	transition: .6s;
	box-shadow: 0 5px 4px rgba(0,0,0,.5)
}
/* makes icon hover  up and down*/
.social ul li a:hover {
	transform: translate(0, -10px);
}
/* select every li child and Specify a background color for every a*/
.social ul li:nth-child(1) a:hover {
	background-color: #1877F2;
}
.social ul li:nth-child(2) a:hover {
	background-color: #E4405F;
}
.social ul li:nth-child(3) a:hover {
	background-color: #1DA1F2;
}
.social ul li:nth-child(4) a:hover {
	background-color: #BD081C;
}



